/** Globals **/
body {
    background-color: hsl(229, 57%, 11%);    
    font-family: 'Raleway', sans-serif;
}

#blocco-n1 {
    background-color: hsl(228, 56%, 26%);
}

p, span {
    font-size: 14px;
}

.icon {
    background-color: hsl(229, 57%, 11%);
}

@media screen and (min-width: 992px) {
    body:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        content: '';
        background: url("../img/bg-desktop.svg") no-repeat center center/cover;
    }
    
    #data-storage-component {
        z-index: 2;
        position: relative;
    }
    
    #blocco-n1 {
        padding: 40px;
        border-radius: 10px 80px 10px 10px;
        box-shadow: 7px 7px 11px 0px hsl(229, 57%, 11%);
    }
    
    #icon-container {
        margin-top: 35px;
    }
    
    .icon {
        text-align: center;
        float: left;
        margin-right: 15px;
        padding: 15px;
        border-radius: 10px;
    }

    #blocco-n2 {
        background-color: hsl(228, 56%, 26%);
        padding: 40px;
        margin-left: 30px;
        border-radius: 10px;
        box-shadow: 7px 7px 11px 0px hsl(229, 57%, 11%);
    }
    
    .progress {
        background-color: hsl(229, 57%, 11%);
        padding: 2px;
        border-radius: 7px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .progress-bar {
        background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        border-radius: 7px;
    }
    
    .message {
        margin-top: -85px;
        background-color: #ffffff;
        border-radius: 10px 10px 0px 10px;
        color: black;
        float: right;
        height: 70px;
        width: 180px;
    }
    
    .message span {
        color: hsl(229, 7%, 55%);
    }
    
    .message strong {
        font-size: 30px;
        color: hsl(229, 57%, 11%);
    }
    
    .message:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 22px 22px 0;
        border-color: transparent #FFFFFF transparent transparent;
    }
}

@media (max-width: 991px) {
    #data-storage-component {
        background: url("../img/bg-mobile.svg") no-repeat center center/cover;
    }
    
    #blocco-n1 {
        padding: 40px;
        border-radius: 10px 80px 10px 10px;
        box-shadow: 7px 7px 11px 0px hsl(229, 57%, 11%);
    }
    
    #icon-container {
        margin-top: 35px;
    }
    
    .icon {
        text-align: center;
        float: left;
        margin-right: 15px;
        padding: 15px;
        border-radius: 10px;
    }

    #blocco-n2 {
        margin-top: 20px;
        background-color: hsl(228, 56%, 26%);
        padding: 35px 35px 55px 35px;
        border-radius: 10px;
        box-shadow: 7px 7px 11px 0px hsl(229, 57%, 11%);
    }
    
    .progress {
        background-color: hsl(229, 57%, 11%);
        padding: 3px 2px;
        border-radius: 7px;
        margin-top: 15px;
        margin-bottom: 10px;
        height: 20px;
    }
    
    .progress-bar {
        background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        border-radius: 7px;
    }
    
    .message {
        position: absolute;
        left: calc(50% - 90px);
        top: 9rem;
        background-color: #ffffff;
        border-radius: 10px;
        color: black;
        height: 72px;
        width: 180px;
    }
    
    .message span {
        color: hsl(229, 7%, 55%);
    }
    
    .message strong {
        font-size: 30px;
        color: hsl(229, 57%, 11%);
    }
    
}
